# --- Application

# API
SPRING_API_PORT=5000
SPRING_API_URL=http://localhost:5000
GOLANG_API_PORT=5001

# Client
CLIENT_API_PORT=5002
CLIENT_URL=http://localhost:5002

# Security
JWT_ISSUER=livebit-api-application
JWT_COOKIE_NAME=accessToken
JWT_PUBLIC_KEY_LOCATION=classpath:certs/publicKey.pem
JWT_PRIVATE_KEY_LOCATION=classpath:certs/privateKey.pem
JWT_EXPIRATION_TIME_SECONDS=7200

# --- Persistence

# Postgres
POSTGRES_PORT=4000
POSTGRES_DB=livebit_db
POSTGRES_URL=jdbc:postgresql://localhost:4000/livebit_db
POSTGRES_USER=livebit
POSTGRES_PASSWORD=livebit

# Redis
REDIS_PORT=4001
REDIS_HOST=redis://localhost:4001
REDIS_PASSWORD=livebit
