app_name='VzTicket API'
debug=False

web_url='http://localhost:5173'

# Database
database_host='localhost'
database_port=5432
database_user='postgres'
database_password='postgres'
database_name='vzticket'

# Security & Tokens
secret_key='change-me-in-production'
algorithm='HS256'
access_token_expire_minutes=15
refresh_token_expire_minutes=720

qr_code_hmac_secret='change-me-in-production'
