# ===================================
# POSTGRES CONFIG
# ===================================
POSTGRES_USER=verzel
POSTGRES_PASSWORD=verzel_pass
POSTGRES_DB=verzel_db
POSTGRES_PORT=6000
POSTGRES_HOST=localhost

# ===================================
# JWT AND COOKIES CONFIG
# ===================================
JWT_SECRET_KEY="d9d6117f533ec686c0b9bf3c918c3878e00c4aae9441b00366443a2e75df5ff4"
JWT_ALGORITHM="HS256"
JWT_TOKEN_EXP_MINUTES=40

AUTH_COOKIE_NAME="vzticket_access_token"

# ===================================
# WEB CONFIG
# ===================================
WEB_URL="http://localhost:5173"
VITE_API_URL="http://localhost:8000"
