# ===================================
# POSTGRES CONFIG
# ===================================
POSTGRES_USER=vzticket
POSTGRES_PASSWORD=vzticket_pass
POSTGRES_DB=vzticket_db
POSTGRES_PORT=6000
POSTGRES_HOST=localhost

# ===================================
# JWT, COOKIES, AND REFRESH TOKENS
# ===================================
JWT_SECRET_KEY="d9d6117f533ec686c0b9bf3c918c3878e00c4aae9441b00366443a2e75df5ff4"
JWT_ALGORITHM="HS256"
JWT_TOKEN_EXP_MINUTES=15

AUTH_COOKIE_NAME="vzticket_access_token"
REFRESH_COOKIE_NAME="vzticket_refresh_token"
REFRESH_TOKEN_EXP_DAYS=7

# ===================================
# WEB CONFIG
# ===================================
WEB_URL="http://localhost:5173"
API_URL="http://localhost:8000"
VITE_API_URL="http://localhost:8000"
VITE_EVENT_CREATION_FEE_PERCENTAGE=0.05

# ===================================
# TMDB CONFIG
# ===================================
TMDB_BASE_URL="https://api.themoviedb.org/3"
TMDB_IMAGE_BASE_URL="https://image.tmdb.org/t/p/w500"
TMDB_API_KEY=""

# ===================================
# FEES AND CLAIMS CONFIG
# ===================================
TICKET_FEE_FIXED=1.50
TICKET_FEE_PERCENTAGE=0.06
EVENT_CREATION_FEE_PERCENTAGE=0.05

WALLET_CLAIM_EXP_MINUTES=15
